@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}

#calcbody {
  background: #ccc;
  width: 400px;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  border: solid 2px #bbb;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px #bbb;
}

#display {
  font-family: Digital, monospace;
  font-size: 50px;
  background: #ffe066;
  width: 90%;
  height: 90px;
  margin: 30px auto;
  text-align: right;
  padding: 10px 5px 0px 5px;
  border: solid 2px #bbb;
  border-radius: 5px;
}

#history {
  width:100%;
  height: 25%;
  font-size: 20px;
  text-align: left;
}

#current {
  width: 100%;
  height: 75%;
}

#keypad-wrapper {
  height: 420px;
  font-family: monospace;
  font-size: 30px;
  margin: 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px 10px;
}

button {
  font-family: monospace;
  font-size: 30px;
  padding: 20px 10px 0px 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  box-shadow: 1px 2px 2px 0px #888;
}

.numbtn {
  background: #fff;
}

.operator {
  background: #eee;
}

#btnequals {
  background: #def;
}

#btnclear {
  background: #f88;
}